:root {
  --image-size: 0px;
  --carousel-width: 0px;
  --carousel-height: 0px;

  --window-top-pos: 0px;
  --window-left-pos: 0px;
  --window-width: 0px;
  --window-height: 0px;
  --window-side-width: 0px;
  --window-top-width: 0px;

  --image-top-pos: 0px;
  --image-left-pos: 0px;

  /* --image-space-width: 0px; */
  /* --frame-top-width: 0px; */
  /* --frame-side-width: 0px; */

  --button-width: 0px;
  --button-top-position: 0px;
  --button-left-position: 0px;
}

.main-carousel {
  height: 100%;
  width: 100%;
  /* background-color: lime; */
  /* position: relative; */
}

.carousel {
  /* display: inline; */
  min-height: var(--carousel-height);
  min-width: var(--carousel-width);
  height: var(--carousel-height);
  width: var(--carousel-width);
  position: relative;
  background-color: white;
  z-index: 1;
  top: 100px;
  left: 200px;
  overflow-x: hidden;
  border-radius: 1rem;
  border: 1px solid var(--border-color);
}

.carousel__window {
  /* background-color: wheat; */
  min-height: var(--window-height);
  min-width: var(--window-width);
  height: var(--window-height);
  width: var(--window-width);
  border-top: var(--window-top-width) solid white;
  border-left: var(--window-side-width) solid white;
  border-right: var(--window-side-width) solid white;
  border-bottom: var(--window-top-width) solid white;
  position: absolute;
  top: var(--window-top-pos);
  left: var(--window-left-pos);
  z-index: 10;
  overflow-x: hidden;
  border-radius: 1rem;
  background-color: transparent;
}

.carousel__images {
  /* display: inline; */
  min-height: var(--image-size);
  min-width: var(--image-size);
  height: var(--image-size);
  width: var(--image-size);

  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  /* background-color: dodgerblue; */

  /* border: 1px solid black; */
  top: var(--image-top-pos);
  /* left: var(--left-position); */
  transition: left 0.5s;
  z-index: 9;
  cursor: pointer;
}

.carousel__button {
  display: inline;
  /* width: 3rem; */
  /* min-width: 3rem; */
  /* height: 3rem; */
  /* min-height: 3rem; */
  position: absolute;
  border-radius: 0.5rem;
  /* border-radius: 50%; */
  /* top: 100px; */
  /* left: var(--center-image); */
  /* background-color: gray; */
  z-index: 100;
  display: flex;
  justify-content: center;
  align-self: center;
  transition-duration: 0.2s;
  /* padding-top: 0.2rem; */
}

.carousel__button--enabled:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 3px rgba(48, 71, 94, 0.7);
  cursor: pointer;
}

.carousel__icon {
  padding-top: 0.1rem;
  color: fuchsia;
}

.carousel__icon--disabled {
  padding-top: 0.1rem;
  color: #ddd;
}

/* .carousel__button:active {
  color: violet;
} */
