:root {
  /* Ancho y alto de cada imagen (imágenes cuadradas): */
  --image-size: 0px;
  /* Ancho y alto del contenedor: */
  --carousel-width: 0px;
  --carousel-height: 0px;
  /* Posición de cada imagen: */
  --image-top-pos: 0px;
  --image-left-pos: 0px;
  /* Ancho, alto y posición de los divs usados para ocultar los bordes laterales del carrusel: */
  --side-top: 0px;
  --side-left-end: 0px;
  --side-height: 0px;
  --side-width: 0px;
  /* Offset de la outline de las imágenes: */
  --outline-offset: 0px;
}

.carousel {
  min-height: var(--carousel-height);
  min-width: var(--carousel-width);
  height: var(--carousel-height);
  width: var(--carousel-width);
  top: 0px;
  left: 0px;
  z-index: 1;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  position: relative;
  background-color: white;
  overflow-x: hidden;
}
.carousel__side {
  height: var(--side-height);
  width: var(--side-width);
  top: var(--side-top);
  left: 0px;
  z-index: 10;
  position: absolute;
  background-color: white;
}
.carousel__side-end {
  top: var(--side-top);
  left: var(--side-left-end);
}
.carousel__images {
  min-height: var(--image-size);
  min-width: var(--image-size);
  height: var(--image-size);
  width: var(--image-size);
  top: var(--image-top-pos);
  z-index: 9;
  outline-offset: var(--outline-offset);
  outline: 1px solid white;
  position: absolute;
  background-color: white;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition-property: left outline;
  transition-duration: 0.5s, 0.4s;
  cursor: pointer;
}
.carousel__images:hover {
  outline: 1px solid dodgerblue;
}
.carousel__button {
  display: inline;
  display: flex;
  justify-content: center;
  align-self: center;
  position: absolute;
  z-index: 100;
  border-radius: 0.5rem;
  transition-duration: 0.2s;
}
.carousel__button--enabled:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 3px rgba(48, 71, 94, 0.7);
  cursor: pointer;
}
.carousel__icon {
  padding-top: 0.1rem;
  color: fuchsia;
}
.carousel__icon--disabled {
  padding-top: 0.1rem;
  color: #ddd;
}
