:root {
  --card-width: var(--min-device-screen);
  --card-height: 48rem;
  --image-height: 28rem;
}

.card {
  height: var(--card-height);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  padding: 1rem;
  width: var(--card-width);
  min-width: var(--card-width);
  background: white;
  margin-bottom: 1rem;
}

.card__image {
  height: var(--image-height);
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.card__price {
  margin-top: 0.5rem;
}

.card__name {
  align-self: flex-start;
  cursor: pointer;
}

.card__name:hover {
  text-decoration-line: underline;
}

.card__filler {
  flex-grow: 1;
}

.card__reviews {
  align-self: flex-end;
  margin-bottom: 1rem;
}

.card__button {
  align-self: flex-end;
}
