:root {
  --column-width: var(--min-device-screen);
}

.catalogue {
  margin: 0 auto;
  background-color: white;
  max-width: 1260px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.catalogue__categories {
  width: var(--column-width);
  min-width: var(--column-width);
  height: 100vh;
  background-color: var(--blue-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 2rem 0;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.catalogue__products {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.catalogue__list {
  padding: 1rem 3rem;
}

.catalogue__checkbox {
  width: 1.6rem;
  height: 1.6rem;
  margin: auto;
}

.catalogue__label {
  padding: 0.8rem;
}

.catalogue__label:hover {
  cursor: pointer;
}

.catalogue__item {
  padding: 0.3rem;
  margin: 0.5rem 0;
}

.catalogue__button {
  color: var(--light-color);
}

@media screen and (max-width: 40rem) {
  .catalogue {
    flex-wrap: wrap;
    justify-content: center;
  }
  .catalogue__categories {
    height: auto;
    position: relative;
    margin-bottom: 0;
  }
  .catalogue__products {
    padding: 1rem 0 0 0;
  }
}
