:root {
  --max-container: var(--max-container-width);
}

.crudcategory {
  max-width: var(--max-container);
  background: plum;
  margin: 0 auto;
  /* position: relative; */
}

.crudcategory__header {
  background-color: antiquewhite;
  /* padding-left: 2rem; */
}

.crudcategory__title {
  /* background: cyan; */
  flex-grow: 1;
}

.crudcategory__addbutton {
  background: url(../button_images/add.png);
  background-color: #f7cb06;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.hache1 {
  /* display: inline; */
  background-color: gold;
}
.hache2 {
  /* display: inline; */
  background-color: sienna;
}
.hache3 {
  /* display: inline; */
  background-color: mediumturquoise;
}
.hache4 {
  /* display: inline; */
  background-color: mediumpurple;
}
.hache5 {
  /* display: inline; */
  background-color: wheat;
}
.hache6 {
  /* display: inline; */
  background-color: lightgreen;
}
.parag {
  background-color: deepskyblue;
}

.test {
  border: 1px solid black;
  height: 1rem;
}
