html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.header {
  background-color: var(--dark-color);
  color: var(--light-color);
  height: var(--header-height);
  min-height: var(--header-height);
}
.main {
  flex-grow: 1;
  padding: 1rem;
}
.footer {
  background-color: var(--dark-color);
  color: var(--light-color);
  height: var(--footer-height);
  min-height: var(--footer-height);
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.global__star {
  color: orange;
}

.global__button {
  display: block;
  color: var(--dark-color);
  background-color: var(--red-color);
  border: none;
  outline: none;
  text-transform: capitalize;
  font-size: 1.8rem;
  padding: 0.6rem 1rem 0.4rem;
  border-radius: 0.3rem;
  outline: 1px solid white;
  outline-offset: 0.2rem;
  transition: outline 0.5s;
  cursor: pointer;
}

.global__button--inline {
  display: inline;
}

.global__button--light {
  color: var(--light-color);
}

.global__button:hover {
  outline: 1px solid dodgerblue;
}

.global__button:active {
  background-color: crimson;
  transform: scale(0.99);
}
