:root {
  --red-color: #f05454;
  --blue-color: #30475e;
  --light-color: #e8e8e8;
  --dark-color: #222831;
  --border-color: #ddd;
}

* {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}
/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: var(--dark-color);
}
main {
  grid-area: main;
  background: var(--ligth-color);
  padding: 0 1rem;
}
footer {
  grid-area: footer;
  background-color: var(--dark-color);
  color: var(--ligth-color);
}

.star {
  color: orange;
}

.btn {
  padding: 0.6rem;
  font-size: 1.8rem;
  outline-color: dodgerblue;
  outline-offset: 0.2rem;
  background-color: var(--red-color);
  color: var(--ligth-color);
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  text-transform: uppercase;
  transition-duration: 0.3s;
}

.btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 5px rgba(48, 71, 94, 0.7);
}
