.card {
  padding: 1rem;
  margin: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 27rem;
  height: 48rem;
  border: 1px solid var(--border-color);
  border-radius: 0.3rem;
}

.card__img {
  width: 28rem;
  height: 29rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
}

.card__price {
  margin-top: 0.5rem;
}

.card__title {
}

.card__filler {
  flex-grow: 1;
}

.card__reviews {
  align-self: flex-end;
  margin-bottom: 1rem;
}

.card__button {
  align-self: flex-end;
  color: var(--light-color);
}
